.panel-default > .panel-heading {
  border-color: #ddd;
  display: block;
  height: 35px;
  line-height: 1.3;
  width: 660px;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  left: -16px;
  top: 5px;
  
  color: #fff;
  text-shadow: 0 1px 1px #111;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #202020;
  background: -webkit-linear-gradient(#000, #993300); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000, #993300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000, #993300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000, #993300); /* Standard syntax (must be last) */
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-default > .panel-heading::before,
.panel-default > .panel-heading::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -11px;
  z-index: -10;
  border: 5px solid;
  border-color: #993300 transparent transparent transparent;    
}
.panel-default > .panel-heading::before {
    left: 0;
}
.panel-default > .panel-heading::after {
    right: 0;
}
.panel {
    margin-top: 5px;
    width: 650px;
    margin-left: 100px;
    padding: 0 10px 0;
    position: relative;
    color: #111;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.panel-default {
  border-color: #ddd;
  margin-left: 25px;
}