/* master style_profil.css */

.panel-default > .panel-heading-560px {
  width: 560px;
}

.panel-default > .panel-heading-300px{
  width: 360px;
}

.panel-width-550px {
  width: 550px;
}

.width-360px {
  width: 360px;
}

.panel-width-330px {
  width: 330px;
}

.panel-default > .panel-heading-340px {
  width: 340px;
}

.panel-width-190px {
  width: 190px;
}

.panel-default > .panel-heading-200px {
  width: 200px;
}