body{
	background-color: #993300;
}
.login-picture{
	background: url(../images/Registrering.jpg) no-repeat center center fixed;
	background-size: 100%;
}
.logo{
	background-size: 50%;
}
#header{
	background-color: red;
	height: 80px;
}
#footer{
	background-color: red;
	min-height: 200px;
}
#news{
	background-color: white;
	height: 400px;
}
.toplistname,
.latestlistname,
.ads
{
	margin-left: 50px;
	border: 5px solid black;
	margin-top: 50px;
	height: 50px;
}
	
	.toplist,
	.latestlist
	{
		border: 5px solid black;
		min-height: 400px;
		margin-left: 50px;
	}

.login
{
	margin-top: 150px;
}
.register{
	background-color: white;
	border-radius: 15px;
	height: 450px;
	margin: 100px 100px 100px 100px;
	padding: 20px 0px 0px 20px;

}
.toplist,
.latest
{
	height: 500px;
	background-color: white;
}
