#header{
	background-color: red;
	height: 80px;
}
#footer{
	background-color: red;
	min-height: 200px;
}
#news{
	background-color: white;
	height: 400px;
}
.toplistname,
.latestlistname,
.ads
{
	border: 5px solid black;
	margin-top: 50px;
	height: 50px;
}
	.toplistname,
	.toplist{
		margin-left: 50px;

	}
	.toplist,
	.latestlist{
		border: 5px solid black;
		min-height: 400px;
	}