.register-forgot-background{
	background-color: #993300;
}
.login-picture{
	background: url("../images/Registrering.jpg") no-repeat center center fixed;
	background-size: 100%;
}
.logo{
	background-size: 50%;
}

/* Behovs inte eftersom vi använder bootstrap definitioner */

/*
#header{
	background-color: red;
	height: 80px;
}
#footer{
	background-color: red;
	min-height: 200px;
}
#news{
	background-color: white;
	height: 400px;
}
.toplistname,
.latestlistname,
.ads
{
	margin-left: 50px;
	border: 5px solid black;
	margin-top: 50px;
	height: 50px;
}
	
	.toplist,
	.latestlist
	{
		border: 5px solid black;
		min-height: 400px;
		margin-left: 50px;
	}
*/
.login
{
	margin-top: 150px;
}

.register{
	background-color: white;
	border-radius: 15px;
	height: 450px;
	margin: 100px 100px 100px 100px;
	padding: 20px 0px 0px 20px;

}

/*
.toplist,
.latest
{
	height: 500px;
	background-color: white;
}
#forgot
{
	background-color: white;
	border-radius: 15px;
	height: 200px;
	margin-top: 200px;
	padding: 20px 50px;
}
#guide_review
{
	margin-left: 50px;
}

*/

body {
	overflow-x: hidden;        /* Hide horizontal overflow */
	overflow-y: auto;          /* Show vertical overflow */
	background-color: #fff;    /* Set background color to white */
}
#header {
  margin-left: 0;            /* Sets left margin to zero */
  margin-top: 0;             /* Sets top margin to zero */
	height: 81px;              /* Sets height to 80 pixels */ 
	width: 100%;
  border-bottom: #f7f7f7 solid 1px;
}
/* left column in the header */
#header > .column-left {
    margin-left: 0;
    height: 60px;
}
/* Sets background color to gradient between the rust red in the bottom to the black color at the top */
.bg-gradient-brown {
  background: -webkit-linear-gradient(#993300, #000);
  background: -o-linear-gradient(#993300, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#993300, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#993300, #000); /* Standard syntax (must be last) */
}
/* Sets background color to gradient between the black in the bottom to the rust red color at the top */
.bg-gradient-black {
  background: -webkit-linear-gradient(#000, #993300);
  background: -o-linear-gradient(#000, #993300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000, #993300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000, #993300); /* Standard syntax (must be last) */
}
/* center column in the header */
#header > .column-center {
    height: 60px;
}
/* right column in the header */
#header > .column-right {
    margin-right: 0;
    height: 60px;
    float:right;
    margin-left: auto;
}
/* left second row in the header */
.height-20px {
    height: 20px;
}
/* puts white triangel as css3 fgfx in right column second row in the header */
#header > .column-right-row2::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #ffffff;
    line-height: 0;
}
/* clears white triangel at the right side */
#header > .column-right-row2::before {
    right: 0;
} 
/* image icons in the header */
.img.header-icons {
    height: 30px;
    margin-right: 0px;
    margin-top: 23px;
    margin-left: 20px;
}
.margin-right-zero {
    margin-right: 0px;
}
.margin-left-50px {
    margin-left: 50px;
}
.img.header-logo {
    height: 60px;
}
/* footer */
#footer {
  height: 106px;              /* Sets height to 80 pixels */
  width: 100%;
}
/* left column in the header */
#footer > .column-left {
    margin-left: 0;
    height: 60px;
}
/* center column in the header */
#footer > .column-center {
    height: 60px;
}
/* right column in the header */
#footer > .column-right {
    margin-right: 0;
    height: 60px;
    float:right;
    margin-left: auto;
}
/* puts white triangel as css3 fgfx in right column second row in the footer */
#footer > .column-right-row2::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent transparent #ffffff;
    line-height: 0;
}
/* clears white triangel at the right side */
#footer > .column-right-row2::before {
    right: 0;
} 
.bg-white {
    background-color: #fff;    /* Set background color to white */
}

.margin-right-50px{
	margin-right: 3em;
}
.margin-horizontal-zero{
  margin-left: -15px;
  margin-right: -15px;
}
.margin-left-50px{
	margin-left: 3em;
}
.ad1 {
	margin-left: 3em;
	border: 1px solid black;
	margin-top: 50px;
	height: 300px;
}
.padding-15px {
	padding-left: 15px;
	padding-right: 15px;
	
}
.padding-zero-horizontal {
	padding-left: 0px;
	padding-right: 0px;
}
.margin-top-100 {
	margin-top: 100px;
}
.panel {
    margin-top: 5px;
    width: 350px;
    margin-left: 100px;
    padding: 0 10px 0;
    position: relative;
    color: #111;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.panel-default {
  border-color: #ddd;
  margin-left: 25px;
}
.ads {
  border-color: #ddd;
  border-radius: 3px;
  margin-left: 50px;
  margin-top: 15px;
  width: 200px;
  margin-right: 50px;
  float: right;
}
.ads > img {
    border-radius: 3px;
}
.panel-default > .panel-heading {
  border-color: #ddd;
  display: block;
  height: 35px;
  line-height: 1.3;
  width: 360px;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  left: -16px;
  top: 5px;
  
  color: #fff;
  text-shadow: 0 1px 1px #111;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #202020;
  background: -webkit-linear-gradient(#000, #993300); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000, #993300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000, #993300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000, #993300); /* Standard syntax (must be last) */
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-default > .panel-heading::before,
.panel-default > .panel-heading::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -11px;
  z-index: -10;
  border: 5px solid;
  border-color: #993300 transparent transparent transparent;    
}
.panel-default > .panel-heading::before {
    left: 0;
}
.panel-default > .panel-heading::after {
    right: 0;
}

/* Profil torn */

.profil {
  margin-left: -15px;
  text-align: center;
}

.profil > .column-left-top {
  height: 60px;
  background-image: url("../images/torn1.png");
  background-position: top center;
  background-size: 290px auto; 
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
}

.profil > .column-left-center {
  height: 150px;
  background-image: url("../images/torn2.png");
  background-position: top center;
  background-size: 290px auto; 
  background-repeat: no-repeat;
  margin-top: 61px;
  margin-bottom: 0;
  background-color: white;

}

.profil > .column-left-bottom {
  height: 200px;
  width: 290px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: gray;
}

/* Marias torn */

/*
#trapez {
  border-bottom: 100px solid red;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  height: 0;
  width: 100px;
  margin-top: 100px;
  margin-left: 85px;

}

#rectangle {
  position: absolute;
  background-color: blue;
  height:250px;
  width: 200px;
  margin-left: 100px;
  margin-top: 200px;
}

#square {
  width: 50px;
  height: 50px;
  background-color: yellow;
}
*/

