@import url("http://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700");

.register-forgot-background{
	background-color: #993300;
}
.login-picture{
	background: url("../images/Registrering.jpg") no-repeat center center fixed;
	background-size: 100%;
}
.logo{
	background-size: 50%;
}

.login-font
{
  font-family: 'Quicksand';
  margin-left: 20px;
  color: white;
}
.login-copyright
{
  margin-top: 200px;
}
#header{
	background-color: red;
	height: 80px;
}
#footer{
	background-color: red;
	min-height: 200px;
}
#news{
	background-color: white;
	height: 400px;
}
.toplistname,
.latestlistname,

{
	margin-left: 50px;
	border: 5px solid black;
	margin-top: 50px;
	height: 50px;
}
	
	.toplist,
	.latestlist
	{
		border: 5px solid black;
		min-height: 400px;
		margin-left: 50px;
	}

.login
{
	margin-top: 150px;
}
.register{
	background-color: white;
	border-radius: 15px;
	height: 450px;
	margin: 100px 100px 100px 100px;
	padding: 20px 0px 0px 20px;

}
.toplist,
.latest
{
	height: 500px;
	background-color: white;
}
#forgot
{
	background-color: white;
	border-radius: 15px;
	height: 200px;
	margin-top: 200px;
	padding: 20px 50px;
}

#searchresult
{
  margin-top: 100px;
  min-height: 400px;

}

body {
	overflow-x: hidden;        /* Hide horizontal overflow */
	overflow-y: auto;          /* Show vertical overflow */
	background-color: darkgrey;    /* Set background color to white */
}
#header {
  margin-left: 0;            /* Sets left margin to zero */
  margin-top: 0;             /* Sets top margin to zero */
	height: 81px;              /* Sets height to 80 pixels */ 
	width: 100%;
  border-bottom: darkgrey solid 1px;
}
/* left column in the header */
#header > .column-left {
    margin-left: 0;
    height: 60px;
}
/* Sets background color to gradient between the rust red in the bottom to the black color at the top */
.bg-gradient-brown {
  background: -webkit-linear-gradient(#993300, #000);
  background: -o-linear-gradient(#993300, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#993300, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#993300, #000); /* Standard syntax (must be last) */
}
/* Sets background color to gradient between the black in the bottom to the rust red color at the top */
.bg-gradient-black {
  background: -webkit-linear-gradient(#000, #993300);
  background: -o-linear-gradient(#000, #993300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000, #993300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000, #993300); /* Standard syntax (must be last) */
}
/* center column in the header */
#header > .column-center {
    height: 60px;
}
/* right column in the header */
#header > .column-right {
    margin-right: 0;
    height: 60px;
    float:right;
    margin-left: auto;
}

/* hit har jag kommit */
/* kl 16 05 */

/* left second row in the header */
.height-20px {
    height: 20px;
}
/* puts white triangel as css3 fgfx in right column second row in the header */
#header > .column-right-row2::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent darkgrey;
    line-height: 0;
}
/* clears white triangel at the right side */
#header > .column-right-row2::before {
    right: 0;
} 
/* image icons in the header */
.img.header-icons {
    height: 30px;
    margin-right: 0px;
    margin-top: 23px;
    margin-left: 20px;
}
.margin-right-zero {
    margin-right: 0px;
}
.margin-left-50px {
    margin-left: 50px;
}
.img.header-logo {
    height: 60px;
}
/* footer */
#footer {
  height: 106px;              /* Sets height to 80 pixels */
  width: 100%;
}
/* left column in the header */
#footer > .column-left {
    margin-left: 0;
    height: 60px;
}
/* center column in the header */
#footer > .column-center {
    height: 60px;
}
/* right column in the header */
#footer > .column-right {
    margin-right: 0;
    height: 60px;
    float:right;
    margin-left: auto;
}
/* puts white triangel as css3 fgfx in right column second row in the footer */
#footer > .column-right-row2::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent transparent darkgrey;
    line-height: 0;
}
/* clears white triangel at the right side */
#footer > .column-right-row2::before {
    right: 0;
} 
.bg-white {
    background-color: #fff;    /* Set background color to white */
}
.bg-black {
    background-color: darkgrey;    /* Set background color to white */
}

.margin-right-50px{
	margin-right: 3em;
}
.margin-horizontal-zero{
  margin-left: -15px;
  margin-right: -15px;
}

.margin-left-50px{
	margin-left: 3em;
}
.ad1 {
	margin-left: 3em;
	border: 1px solid black;
	margin-top: 50px;
	height: 300px;
}
.padding-15px {
	padding-left: 15px;
	padding-right: 15px;
	
}
.padding-zero-horizontal {
	padding-left: 0px;
	padding-right: 0px;
}
.margin-top-100
{
	margin-top: 100px;
  
}
.panel {
    margin-top: 5px;
    width: 350px;
    margin-left: 100px;
    padding: 0 10px 0;
    position: relative;
    color: #111;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.panel-default {
  border-color: #ddd;
  margin-left: 25px;
  min-height: 300px;
  height: auto;
}
.ads > img {
    border-radius: 3px;
    width:290px;
}
.panel-default > .panel-heading {
  border-color: #ddd;
  display: block;
  height: 35px;
  line-height: 1.3;
  width: 360px;
  margin: 0;
  padding: 5px 10px;
  position: relative;
  left: -16px;
  top: 5px;
  
  color: #fff;
  text-shadow: 0 1px 1px #111;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #202020;
  background: -webkit-linear-gradient(#000, #993300); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000, #993300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000, #993300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000, #993300); /* Standard syntax (must be last) */
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fff;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-default > .panel-heading::before,
.panel-default > .panel-heading::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -11px;
  z-index: -10;
  border: 5px solid;
  border-color: #993300 transparent transparent transparent;    
}
.panel-default > .panel-heading::before {
    left: 0;
}
.panel-default > .panel-heading::after {
    right: 0;
}
.grinfo
{
  min-height: 400px;
  height: auto;
}

.panel-default > .panel-heading-300px{
  width: 360px;
}



.width-360px {
  width: 360px;
}

.panel-width-330px {
  width: 330px;
}

.panel-default > .panel-heading-340px {
  width: 340px;
}

.panel-width-190px {
  width: 190px;
}

.panel-default > .panel-heading-200px {
  width: 200px;
}

/* Profil torn */

.profil {

  text-align: center;
}

.profil-right {
  margin-right: 10px;
  margin-left: auto;

  text-align: center;
}

.profil > .column-left-top {
  height: 74px;
  width: 290px;
  background-image: url("../images/profil_torn1.png");
  background-position: top center;
  background-size: 290px auto; 
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 0;
  background-color: darkgrey;
  text-align: center;
  padding-top: 40px;
}

.margin-left-15px {
  margin-left: 0;
}
.profil > .column-left-center {
  height: 241px;
  width: 290px;
  background-image: url("../images/profil_torn2.png");
  background-position: top center;
  background-size: 290px auto; 
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  padding-top: 25px;

}

.profil > .column-left-bottom {
  min-height: 210px;
  padding: 15px;
  width: 290px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #c7ccc8;
}

/* profil bild */
.column-left-center > img {
    margin: 0 auto;
    width: 85px;
  
}

/* friend bild */
.column-left-bottom > img {
    width: 35px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
  
}

.margin-left-15px {
  margin-left: 15px;
  margin-right: auto;
}

.margin-right-15px{
  margin-right: 0px;
  margin-left: auto;
}
.views{
  float: right;
  list-style: none;
}

/* dortes andringar från dorte2 branch */



.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}

h2.login-font
{
  font-family: 'Quicksand';
  margin-left: 20px;
  color: white;
}
.quicksand {
    font-family: 'Quicksand';
}
.droid {
    font-family: 'Droid Sans', sans-serif;
}
p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: black;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: bold;
}

/* lankfarger genrellt satt till svart */

/* unvisited link */
a:link {
    color: #000;
}
/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #000;
}

/* active link */
a:active {
	color: #000;
}
.dropdown-hover .a:hover {
  visibility: visible;
}
/* selected link */
a:active {
    color: #cc3300;
}

a.text-primary {
  color: #993300;
}

/* ändrar länkfärg från roströd till svart när musen förs över länkan */
a.text-primary:hover {
  color: black;
}

.text-16px {
  font-size: 16px;
}

.text-10px {
  font-size: 10px;
}

.btn-danger {
  background-color: #993300;
}

/* roströd knapp */
.btn-danger {
  color: #fff;
  background-color: #993300;
  border-color: #663300;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #cc3300;
  border-color: #ff6600;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}

/* gul knapp */
.btn-warning {
  color: #fff;
  background-color: #cc6600;
  border-color: #d58512;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #e48900;
  border-color: #eea236;
}
.login-cloud {
  margin-right: auto;
  margin-left: -30px;
}

/* saetter faerg på forms att lysa rostrott naer anvaendaren fyller i forms */

.form-control:focus {
  border-color: #993300;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153, 51, 0, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(153, 51, 0, .6);
}

.margin-horizontal-25px{
  margin-left: 25px;
  margin-right: 25px;
}

.margin-left-25px{
  margin-left: 25px;
  margin-right: auto;
}
.margin-right-25px{
  margin-right: 25px;
  margin-left: auto;
}

.margin-top-110
{
  margin-top: 51px;
  
}

.panel {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 350px;
  /*  margin-left: 100px; */
    padding: 0 10px 0;
    position: relative;
    color: #111;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.panel-default {
  border-color: #ddd;
/*  margin-left: 25px; */
  min-height: 300px;
  height: auto;
}
.panel-default > .panel-heading {
  border-color: #ddd;
  display: block;
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 1.4em;
  height: 35px;
  line-height: 1.3;
  width: 360px;
  margin: 0;
  padding: 3px 10px;
  position: relative;
  left: -16px;
  top: 5px;
  
  color: #fff;
  text-shadow: 0 1px 1px #333;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #202020;
  background: -webkit-linear-gradient(#000, #993300); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000, #993300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000, #993300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000, #993300); /* Standard syntax (must be last) */
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.ovrigt {
  width: 310px;
  
}

.panel-default > .ovrigt-heading {
  width: 320px;
 
}
.aktiviteter {
  width: 213px;

}
.panel-default > .aktiviteter-heading {
  width: 223px;

}
.panel-width-240px {
  width: 400px;
}
.panel-default > .panel-heading-250px {
  width: 410px;
}

.profil-right {
  margin-right: 5px;
  margin-left: auto;

  text-align: center;
}

.margin-left-15px {
  margin-left: 15px;
}
.margin-left-profile {
  margin-left: 10px;
}
.margin-left-genre,
.margin-left-guide {
  margin-left: -30px;
}
.margin-right-15px{
  margin-right: 15px;
  margin-left: auto;
}
.margin-right-profile{
  margin-right: 10px;
  margin-left: auto;
}
/* forms */
.form-control {
  width: 220px;
}
/* nytt grid-system */

.index-left {
  background-color: yellow;
}
.wrapper {
  .make-row();
}
.content-left {
  .make-lg-column(4);
width: 30%;
/* background-color: red; */
}
.content-center {
  .make-lg-column(4);
width: 30%;
/*  background-color: green; */


}
.content-right {
  .make-lg-column(4);
width: 30%;
/*  background-color: yellow; */

/*  .make-lg-column-offset(1); */
}
.views {
  float: right;
  list-style: none;
}
.panel-default > .panel-heading-560px {
  width: 560px;
}

.panel-width-550px {
  width: 550px;
}

/* unvisited link */
a:link .login-text {
    color: #fff;
}
/* visited link */
a:visited .login-text {
    color: #fff;
}

/* mouse over link */
a:hover .login-text {
    color: #fff;
}

/* selected link */
a:active .login-text {
    color: #fff;
}

/* placering av genre dropdown menu */
.dropdown:hover .dropdown-menu {
    display: block;
	margin-right: 75px;
 }
.dropdown-top-margin {
	margin-top: 51px;
}

#searchgenrer
{
  margin-left: 25px;
  font-family: 'Quicksand';
}
#searchgenre
{
  width: 300px;

}

.dropdown li > a:link, a:hover, a:active, a:visited {
color: #fff;
}
/* dropdown meny aktiva lankar farg mm */
.dropdown-menu > li > a {

  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #e48900;						/* satter besokta lankor till fargen orange */
  white-space: nowrap;
}
/* dropdown menu bakgrundsfarg och lankfarg */
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
.dropdown-menu > li > a:visited {
  color: #fff;
  text-decoration: none;
  background: -webkit-linear-gradient(90deg, #e48900, #993300); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #e48900, #993300); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #e48900, #993300); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #e48900, #993300); /* Standard syntax (must be last) */
}

/* hover farg på dropdown meny nar den ar aktiv */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:visited {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

/* farg och stil pa genre header */
.dropdown-header {
	background-color: #000;
	color: #fff;
}

@dropdown-link-hover-bg {
background: -webkit-linear-gradient(90deg, orange, #993300); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, orange, #993300); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, orange, #993300); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, orange, #993300); /* Standard syntax (must be last) */
}

/* transparent gradient */
.transparent-gradient {
	background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */
}

.panel-genre {
    width: 750px;
 }
.panel-default > .panel-heading-genre {
	width: 760px;
}

.content-genre {
	.make-lg-column(8);
	width: 70%;

}
/* listed bullet lankfarger i genre meny */
li > a:link,
li > a:hover,
li > a:focus,
li > a:visited {
	color: #fff;
	text-decoration: none;
}
/* unvisited link */

btn > a:link,
btn > a:hover,
btn > a:active,
btn > a:visited  {
    color: #fff;
	text-decoration: none;
}

/* visited link */

.login-text {
	color: #fff;
}
.login-text,
btn,
li.login-text > a:link,
li.login-text > a:active,
li.login-text > a:hover,
li.login-text > a:visited {
    color: #fff;
}

a:link,
a:active,
a:visited {
    color: #993300;
	text-decoration: none;
}

a:hover {
	color: orange;

}

/* satter margin vaenster till minus 15px i paa genre sidan */
.margin-genre {
	margin-left: -15px;
}

.comments {
	min-height: 300px;
	color: red;
	}
.showcomments {
	min-height: 200px;
	color: green;
}
